@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
  }

  h2 {
    font-family: "Big Shoulders Display", cursive;
  }

  .sedans {
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #e38826;
    color: #e38826;
  }

  .suvs {
    background-color: #006970;
    color: #006970;
  }

  .luxury {
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #004241;
    color: #004241;
  }

  @media (min-width: 1024px) {
    .sedans {
      border-radius: 0.5rem 0 0 0.5rem;
    }
    .luxury {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}
